body{
    margin: 0;
}

.gridSquares {
    background-color: black;
    box-sizing: border-box;   
}

.gridSquares::before {
    content: " ";
    display: block;
}

#gridContainer {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 1px;
    max-height: 500px;
    max-width: 500px;
    aspect-ratio: 1 / 1;
}